@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "IBM Plex Sans", sans-serif;

  --animate-color-change: color-change 10s infinite;
}

@import "tailwindcss-radix-colors/dist/gold.css";
@plugin "@tailwindcss/typography";

@utility grid-effect {
  background:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      var(--color-golddark-1);
  background-size: 50px 50px;
}

@utility input {
  @apply border border-neutral-300 p-2 px-4 w-full;
  @apply focus:outline-none;
}

@layer components {
  select {
    @apply ps-4 pe-8 appearance-none;
    background-image:
        linear-gradient(45deg, #0000 50%, currentColor 50%),
        linear-gradient(135deg, currentColor 50%, #0000 50%);
      background-position:
        calc(100% - 20px) calc(1px + 50%),
        calc(100% - 16.1px) calc(1px + 50%);
      background-size:
        4px 4px,
        4px 4px;
      background-repeat: no-repeat;
  }

  .article {
    @apply prose-p:text-neutral-700/70 prose-p:text-lg prose-p:text-justify;
    @apply prose-headings:!text-neutral-800 prose-headings:font-bold;
    @apply prose-a:text-neutral-700 prose-a:underline prose-a:hover:text-neutral-700/70;
  }
}
